# Python
*.pyc
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
courenv/


Titanic ML Project Pipeline.docx
~$ Titanic ML Project Pipeline.docx
*.docx
\360\237\232\242 Titanic ML Project Pipeline.docxS
data/
